/* @import "tw-animate-css"; */
@import "shadcn/tailwind.css";
@import "tailwindcss";
@import "@fontsource-variable/inter";
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@theme {
  --shadow-emboss: inset 3px 4px 5px 0px rgba(183, 183, 183, 0.5), inset -2px -2px 5px 0px rgba(255, 255, 255, 0.5);
}

@layer base {
  :root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);

    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);

    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);

    --primary: oklch(0.488 0.243 264.376);
    --primary-foreground: oklch(0.97 0.014 254.604);

    --secondary: oklch(0.967 0.001 286.375);
    --secondary-foreground: oklch(0.21 0.006 285.885);

    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);

    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);

    --destructive: oklch(0.577 0.245 27.325);
    --destructive-foreground: 210 40% 98%;

    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);

    --radius: 0.875rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: oklch(0.145 0 0);

    --sidebar-primary: oklch(0.546 0.245 262.881);

    --sidebar-primary-foreground: oklch(0.97 0.014 254.604);

    --sidebar-accent: oklch(0.97 0 0);

    --sidebar-accent-foreground: oklch(0.205 0 0);

    --sidebar-border: oklch(0.922 0 0);

    --sidebar-ring: oklch(0.708 0 0);

    --chart-1: oklch(0.87 0 0);

    --chart-2: oklch(0.556 0 0);

    --chart-3: oklch(0.439 0 0);

    --chart-4: oklch(0.371 0 0);

    --chart-5: oklch(0.269 0 0);

    --sidebar: oklch(0.985 0 0);
  }

  .dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);

    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);

    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);

    --primary: oklch(0.424 0.199 265.638);
    --primary-foreground: oklch(0.97 0.014 254.604);

    --secondary: oklch(0.274 0.006 286.033);
    --secondary-foreground: oklch(0.985 0 0);

    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);

    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);

    --destructive: oklch(0.704 0.191 22.216);
    --destructive-foreground: 210 40% 98%;

    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.623 0.214 259.815);
    --sidebar-primary-foreground: oklch(0.97 0.014 254.604);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
    --chart-1: oklch(0.87 0 0);
    --chart-2: oklch(0.556 0 0);
    --chart-3: oklch(0.439 0 0);
    --chart-4: oklch(0.371 0 0);
    --chart-5: oklch(0.269 0 0);
    --sidebar: oklch(0.205 0 0);
  }


  .theme {
    --font-heading: var(--font-sans);
    --font-sans: var(--font-sans);
  }

  @theme inline {
    --animate-border: border 4s linear infinite;
    --animate-infinite-scroll: infinite-scroll 25s linear infinite;
    --animate-marquee: marquee var(--duration) linear infinite;
    --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;
    --animate-marquee-reverse: marquee-reverse var(--duration) linear infinite;
    --animate-marquee-vertical-reverse: marquee-vertical-reverse var(--duration) linear infinite;

    @keyframes marquee {
      from {
        transform: translateX(0);
      }

      to {
        transform: translateX(calc(-100% - var(--gap)));
      }
    }

    @keyframes marquee-vertical {
      from {
        transform: translateY(0);
      }

      to {
        transform: translateY(calc(-100% - var(--gap)));
      }
    }

    @keyframes marquee-reverse {
      from {
        transform: translateX(calc(-100% - var(--gap)));
      }

      to {
        transform: translateX(0);
      }
    }

    @keyframes marquee-vertical-reverse {
      from {
        transform: translateY(calc(-100% - var(--gap)));
      }

      to {
        transform: translateY(0);
      }
    }
  }
}

.blur-vignette {


  position: absolute;
  inset: 0;
  border-radius: var(--radius);
  -webkit-backdrop-filter: blur(var(--blur));
  backdrop-filter: blur(var(--blur));
  --r: max(var(--transition-length), calc(var(--radius) - var(--inset)));
  --corner-size: calc(var(--r) + var(--inset)) calc(var(--r) + var(--inset));
  --corner-gradient: transparent 0px,
    transparent calc(var(--r) - var(--transition-length)), black var(--r);
  --fill-gradient: black, black var(--inset),
    transparent calc(var(--inset) + var(--transition-length)),
    transparent calc(100% - var(--transition-length) - var(--inset)),
    black calc(100% - var(--inset));
  --fill-narrow-size: calc(100% - (var(--inset) + var(--r)) * 2);
  --fill-farther-position: calc(var(--inset) + var(--r));
  -webkit-mask-image: linear-gradient(to right, var(--fill-gradient)),
    linear-gradient(to bottom, var(--fill-gradient)),
    radial-gradient(at bottom right, var(--corner-gradient)),
    radial-gradient(at bottom left, var(--corner-gradient)),
    radial-gradient(at top left, var(--corner-gradient)),
    radial-gradient(at top right, var(--corner-gradient));
  -webkit-mask-size: 100% var(--fill-narrow-size), var(--fill-narrow-size) 100%,
    var(--corner-size), var(--corner-size), var(--corner-size),
    var(--corner-size);
  -webkit-mask-position: 0 var(--fill-farther-position), var(--fill-farther-position) 0,
    0 0, 100% 0, 100% 100%, 0 100%;
  -webkit-mask-repeat: no-repeat;
}
  